<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="widht=device-widht, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/pages-style.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>

    <title>Gamelink</title>

    
    <script th:inline="javascript">
        function limitText(elementId) {
          var text = document.getElementById(elementId).innerHTML;
          var limit = 100;
          var newText = text.length > limit ? text.substr(0, limit) + "..." : text;
          document.getElementById("text").innerHTML = newText;
        }
      </script>
</head>

<body>

    <div class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
        <div class="logo_details">
            <div class="logo">
                <img class="big_logo" src="img/biglogo.png">

            </div>
        </div>
        <ul>
            <li>
                <a href="#">
                    <i class="fi fi-rr-search"></i>
                    <input type="text" placeholder="Procurar...">
                </a>
            </li>
            <li>
                <a href="/index">
                    <i class="fi fi-rs-house-chimney"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="/profile">
                    <i class="fi fi-rr-user"></i>
                    <span>Perfil</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fi fi-rs-bells"></i>
                    <span>Notificações</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fi fi-rr-messages"></i>
                    <span>Conversas</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fi fi-rr-gamepad"></i>
                    <span>Jogos</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fi fi-rr-users"></i>
                    <span>Amigos</span>
                </a>
            </li>
            <li>
                <a href="/community">
                    <i class="fi fi-rr-users-alt"></i>
                    <span>Comunidades</span>
                </a>
            </li>
            <li>
                <a href="/favorites">
                    <i class="fi fi-rr-bookmark"></i>
                    <span>Favoritos</span>
                </a>
            </li>
            <li>
                <a href="/settings">
                    <i class="fi fi-rs-settings"></i>
                    <span>Configurações</span>
                </a>
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="/img/btn-profile.png" alt="">
                    <div class="name_grid">
                        <div class="name">
                            <p>Usuario</p>
                        </div>
                        <div class="nickname">
                            <p>Nickname</p>
                        </div>
                    </div>
                    <a href="login.html">
                        <i class="fi fi-rs-exit" id="log_out"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="convocation_container">
        <h1>Convocações</h1>
        <div class="convocation_grid" >
            <article th:each="convocation: ${convocations}">
                <div class="convocation_block" >
                    <img th:src="${convocation.game.gameIcon}" alt="">
                    <div class="convocation_titles">
                        <p class="details_title" th:text="${convocation.convocationTitle}"></p>
                        <p class="details_subtitle" th:text="${convocation.convocationType}"></p>
                    </div>
                </div>
                <div class="convocation_description">
                    <h5 th:text="${#strings.length(convocation.description) > 100 ? #strings.substring(convocation.description, 0, 100) + '...' : convocation.description}"></h5>
                    <button>Saiba mais</button>
                </div>
                
            </article>
        </div>

    </div>

      <script th:inline="javascript">
        /* Chamando a função limitText para cada div gerada pelo fh:each */
        document.addEventListener("DOMContentLoaded", function() {
      var elements = document.querySelectorAll('[id^="text-"]');
      for (var i = 0; i < elements.length; i++) {
        limitText(elements[i].id);
      }
    });
      </script>
</body>

</html>