<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta name="viewport" content="widht=device-widht, initial-scale=1, maximum-scale=1.0">
    <meta charset="utf-8">
    <link href="css/login-style.css" rel="stylesheet">
    <title>Gamelink</title>
</head>

<body>
    <header>
        <nav class="nav-top">
            <img class="tiny-logo" align="left" src="img/tinylogo.png">
            <div class="nav-text">
                <a class="menu-text" href="">SAIBA MAIS</a>
                <a class="menu-text" href="">SOBRE NÓS</a>
            </div>
        </nav>
    </header>

    <div class="success_container">
        <img src="img/success.png" alt="">
        <h2>Cadastro realizado com sucesso! Seja bem-vindo(a)!</h2>
        <a href="/"><button class="popup-login" type="login">RETORNAR</button></a>
    </div>
</body>

</html>